/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    --papa: #ffeecf;
    --tan: #c9a690;
    --rose: #d36582;
    --reg-nav: #253c78;
    --laser: #2b59c3;
}

body{
    background-color: var(--papa);
    background-image: linear-gradient(0deg, var(--papa) 50%, var(--tan) 50%);
    background-size: 4px 4px;
}

header{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--rose);
    color: var(--reg-nav);
    border-radius: 25px;
    border: 7.5px solid var(--reg-nav);
}

header h1{
    font-size: 2.5rem;
    font-family: "Barriecito";
}

header p{
    font-family: "funnel sans";
}

nav{
    width: 70%;
    margin: 1rem auto;
    background-color: var(--laser);
    padding: 1rem;
    border-radius: 25px;
    border: 7.5px solid var(--reg-nav);
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0; 
    align-items: center;
    justify-content: center;
}

nav li{
    text-align: center;
    list-style-type: none;
}

nav a{
    background-color: var(--rose);
    display: block;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px dotted var(--papa);
    text-decoration: none;
    font-family: "funnel sans";
    color: var(--papa);
}

nav a:hover{
    background-color: var(--papa);
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px dotted var(--rose);
    text-decoration: none;
    font-family: "funnel sans";
    color: var(--rose);
    transition: 0.5s;
}

main{
    width: 70%;
    margin: auto;
}

main section{
    margin-bottom: 1rem;
}

main h2{
    font-family: "barriecito";
    text-align: center;
    font-size: 2rem;
    color: var(--papa);
    margin: 2rem;
}

#projects{
    background-color: var(--rose);
    padding: 3rem;
    border-radius: 25px;
    border: 7.5px solid var(--reg-nav);
}

#projects h3{
    font-family: "barriecito";
    margin: 1rem;
    font-size: 1.35rem;
    color: var(--reg-nav);
    text-align: center;
}

.animation ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.animation li{
    font-family: "funnel sans";
    color: var(--laser);
    margin: 1rem;
    padding: 1rem;
    background-color: var(--papa);
    border-radius: 15px;
    border: dotted 5px var(--laser);
}

.animation b{
    font-weight: bold;
}

.sites ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sites li{
    margin: 1rem;
}

.sites a{
    text-decoration: none;
    display: block;
}

.sites a img{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.sites a figure{
    display: block;
    border: 3px solid var(--tan);
    border-radius: 10px;
    background-color: var(--papa);
}

.sites a:hover figure{
    padding: 1rem;
    transition: 0.5s;
    display: block;
    border: 3px solid var(--tan);
    border-radius: 10px;
    background-color: var(--papa);
}

.sites a figcaption{
    padding: 1rem 0.5rem;
    text-align: center;
    align-content: center;
    color: var(--reg-nav);
    font-family: "funnel sans";
}

#education{
    background-color: var(--laser);
    padding: 3rem;
    border-radius: 25px;
    border: 7.5px solid var(--reg-nav);
}

#edgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#edgrid div{
    background-color: var(--papa);
    border-radius: 25px;
    border: 5px dotted var(--rose);
    padding: 1rem;
}

#edgrid div h3{
    font-family: "barriecito";
    color: var(--laser);
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

div li, div p{
    font-family: "funnel sans";
    color: var(--rose);
}

#edgrid ul{
    margin: 0.75rem;
    list-style-type: disc;
    list-style-position: inside;
}

#contact{
    background-color: var(--rose);
    padding: 3rem;
    border-radius: 25px;
    border: 7.5px solid var(--reg-nav);
}

#contact p{
    text-align: center;
    font-family: "funnel sans";
    color: var(--reg-nav)
}

#contact a{
    color: var(--laser)
}

footer{
    width: 70%;
    margin: auto;
    background-color: var(--laser);
    padding: 2rem;
    border-radius: 25px;
    border: 7.5px solid var(--reg-nav);
}

footer p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--papa);
    font-family: "barriecito";
}

@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    header, nav, main, footer{
        width: 80%;
        margin: auto;
    }

    header, nav, main > section, footer{
        margin: auto;
        border: solid 5px var(--reg-nav)
    }

    header{
        margin: auto;
        padding: 1rem 0;
    }

    nav a{
        padding: 1rem;
        width: 90%;
        margin: auto;
    }

    .sites ul{
        grid-template-columns: 1fr;
    }

    .sites a figure{
        width: 70%;
        margin: auto;
    }

    #edgrid{
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 600px){
    header, nav, main, footer{
        width: 95%;
        margin: auto;
    }

    nav{
        padding: 1rem 0;
    }

    nav ul{
        grid-template-columns: 1fr;
        padding: 1rem 0;
    }

    nav a{
        width: 70%;
        padding: 1.5rem 0;
    }

    .sites a figure{
        width: 100%;
    }
}